/* General */
/* TODO figure out how to import this font later */
 /* @font-face{
    font-family: "Montreal-regular";
    src: url(neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Regular.otf)
 } */

 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
 @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
 
 * {
     margin: 0;
     padding: 0;
 }
 
 :root{
     --background-color: rgba(230,230,230,255);
     --foreground-color: rgb(13, 13, 13);
     --gap: 10px
 }
 
 body{
     /* TODO update this font later */
     /* font-family: 'Montreal-regular'; */
     font-family: 'Poppins', sans-serif;
     background-color: var(--background-color);
     /* overflow: hidden; */
 }
 
 html{
     scroll-behavior: smooth;
 }
 
 
 
 section {
     padding-top: 4vh;
     height: 96vh;
     box-sizing: border-box;
     min-height: fit-content;
   }
   
   .section-container {
     display: flex;
   }
 
 .page-container {
     border: 1px solid var(--foreground-color);
     padding: var(--gap); 
     margin:  calc(var(--gap) * 2); 
     /* height: calc(100vh - calc(var(--gap) * 4));  */
     box-sizing: border-box; /* Ensures padding and border are included in the width/height */
     /* overflow: auto; Adds scroll if the content is larger than the screen */
     overflow: hidden;
 }
 
 
 
 p {
     color: rgb(85, 85, 85);
 }
 
 
 /* Transition */
 
 
 a, 
 .btn{
     transition: all 300ms ease;
 }
 
 
 /* Desktop Nav */
 
 nav,
 .nav-links {
     display: flex;
     flex-direction: column;
 }
 
 nav{
     justify-content: space-between;
     height: 30vh;
     padding: 2vh;
 }
 
 .nav-links{
     gap: 1rem;
     list-style: none;
     font-size: 1.5rem;
 } 
 
 /* The links and their apperance */
 /* TODO update the font color on this to be bolder than the other one */
 a{
     color: var(--foreground-color);
     text-decoration: none;
     text-decoration-color: var(--background-color);
     list-style-type: none;
 
 }
 
 
 /* Effect of hovering over the link 
 TODO update this so that it becomes like a grey highlight affect */
 
 a:hover{
     color: grey;
     text-decoration: underline;
     text-underline-offset: 0.5rem;
     text-decoration-color: rgb(181, 181, 181);
 }
 
 
 /* Change the appearance of the name */
 /* TODO update the font size on this */
 .logo{
     font-size: 2rem;
     color: var(--foreground-color)
 }
 
 .logo:hover{
     cursor: default;
 }
 
 
 .loader-text {
     position: absolute;
     color:  var(--foreground-color);
     font-size: 2rem;
     text-align: center;
     width: 100%;
     top: 50%; /* Adjust as needed */
     left: 50%; /* Adjust as needed */
     transform: translate(-50%, -50%); /* Center the text */
     transition: opacity 0.5s ease; /* Text fades out first */
 
 }
 
 .loader img {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 5%; /* Adjust as needed */
     height: auto; /* Adjust as needed */
     position: relative;
     margin-top: 15vh;
     /* transition: opacity 1s, visibility 1s; */
     transition: opacity 0.5s ease; /* Image fades out after text, with delay */
 }
 
 
 /* Lodaing animations 
 TODO add name in here probably*/
 .loader {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: var(--background-color);
     transition: opacity 2s ease, visibility 0s linear 4s; /* Background fades out last */
 
 }
 
 .loader--hidden{
     opacity: 0;
     visibility: hidden;
 }
 
 
 
 /* For nice animations on scroll src  = https://www.youtube.com/watch?v=T33NN_pPeNI&ab_channel=BeyondFireship*/
 .hidden{
     opacity: 0;
     filter: blur(5px);
     transform: translateX(-100%);
     transition: all 1s;
 }
 

 .show{
     opacity: 1;
     filter: blur(0);
     transform: translateX(0);
 }
 
 
 /* TODO enable this later */
 /* @media(prefers-reduced-motion) {
     .hidden{
         transition: none;
     }
 } */
 
 
 
 /* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  
  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  
  .section__text__p1 {
    text-align: center;
  }
  
  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
  }
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  /* ICONS */
  
  .icon {
    cursor: pointer;
    height: 2rem;
  } 

   /* ABOUT SECTION */

#about {
    position: relative;
  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
  .about-pic {
    border-radius: 2rem;
  }
  
  .arrow {
    position: absolute;
    right: -20rem;
    bottom: 2.5rem;
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    /* background: white; */
    border-radius: 2rem;
    /* border: rgb(53, 53, 53) 0.1rem solid; */
    /* border-color: rgb(163, 163, 163); */
    text-align: center;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  